html {
  font-family: Helvetica;
}

header{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
#Brush_Title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color:mediumspringgreen;
}

#Frame_Title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color:lightcoral;
}

#Paint_Title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color:skyblue;
}

p{
  font-size: 16px;
  color: black;
  font-weight: normal;
}

.blue_text {
  font-weight: bold;
  color: blue;
}
